<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/auctionbanner.jpg" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">관리자</a></li>
            <li class="breadcrumb-item">Hybrid Auction 관리</a></li>
            <li class="breadcrumb-item">경매 대기관리</a></li>
          </ol>
        </nav>
   	  </div>

      <hr>
      <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> 번호 </th>
                <th> 이미지 </th>
                <th> 제품분류 </th>
                <th> 제조사 </th>
                <th> 상품명 </th>
                <th> 가격 </th>
                <th> 시작버튼 </th>
              </tr>
            </thead>
            <tbody>
               <% for(var i=(page*page_num)-page_num; i<(page*page_num); i++){
                 if(i>length){
                   i++;
                 }else{
               %>
              <tr>
                <td> <%= prodata[i].p_number %> </td>
                <td> <img src="<%= prodata[i].p_img %>" width=50px> </td>
                <td> <%= prodata[i].p_kind %> </td>
                <td> <%= prodata[i].p_company %> </td>
                <td> <%= prodata[i].p_name %> </td>
                <td> <%= prodata[i].p_price %> </td>
                <td> <input type="button" onclick="location.href='/auctionm/atstart?id=<%= prodata[i].p_number %>'" value="경매시작"></td>
              </tr>
              <% }} %>
            </table>
          </div>

  <p>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/auctionm/standbylist/<%= previous %>" tabindex="-1" aria-disabled="true">이전</a>
      </li>
      <% for(var j = 0; j < length / page_num; j++){  %>
        <li class="page-item"><a class="page-link" href="/auctionm/standbylist/<%= j + 1 %>"><%= j + 1 %></a></li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="/auctionm/standbylist/<%= next %>">다음</a>
      </li>
    </ul>

</nav>
</div>
</div>
