<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/auctionbanner.jpg" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">관리자</li>
            <li class="breadcrumb-item">문의관리</li>
            <li class="breadcrumb-item active" aria-current="page">문의 대기</li>
          </ol>
        </nav>
   	  </div>

      <hr>
      <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> 번호 </th>
                <th> 사용자 아이디 </th>
                <th> 제목 </th>
                <th> 답변상태 </th>
                <th> 문의시간 </th>
                <th> 답변하기 </th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=(page*page_num)-page_num; i<(page*page_num); i++){
                if(i>length){
                  i++;
                }else{
                  var item = mesdata[i];
              %>
              <tr>
                <td> <%= item.list_num %></td>
                <td> <%= item.u_id %> </td>
                <td> <%= item.u_title %> </td>
                <td> <%= item.a_status %> </td>
                <td> <%= item.q_time.toLocaleDateString(); %> </td>
                <td> <a href="/goanswer?num=<%= item.list_num %>"> 더보기</a> </td>
              </tr>
              <% }} %>
            </table>
          </div>

  <p>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/qnalist/<%= previous %>" tabindex="-1" aria-disabled="true">이전</a>
      </li>
      <% for(var j = 0; j < length / page_num; j++){  %>
        <li class="page-item"><a class="page-link" href="/qnalist/<%= j + 1 %>"><%= j + 1 %></a></li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="/qnalist/<%= next %>">다음</a>
      </li>
    </ul>
</nav>
